h1 {
    position: absolute;
left: 38.4%;
right: 23.19%;
top: 50.78%;
bottom: 45.44%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 30px;
/* or 75% */

text-align: center;
letter-spacing: 0.15px;

color: #333333;

}
.error {
    position: absolute;
left: 38.4%;
right: 23.19%;
top: 55.67%;
bottom: 40.56%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* or 150% */

text-align: center;
letter-spacing: 0.15px;

color: #333333;
}

.imagen-candado {
    position: absolute;
width: 252px;
height: 215.65px;
left: 280px;
top: 180px;
}